body{
    padding-bottom: 20px;
}

.logo{
    color: #ffffff;
}

.logo:hover{
    text-decoration: none;
    color: #dbdbdb;
}

.landing{
    margin-top: 60px;
}

.landing .btn{
    margin-left: 10px;
}

.container.todo-container{
    width: 750px;
}

.header{
    background: #687ac2;
    color: #ffffff;
    padding: 10px;
}

.todo-input-container{
    margin-top: 20px;
}

.todo-input-container .input-group{
    margin: 20px auto 40px auto;
}


.tab-container{
    margin-bottom: 10px;
}

.btn-link:hover{
    text-decoration: none;
}

.btn-link.active{
    background: #337AB7;
    color: #fff;
    border-radius: 3px;
}

.todo-item{
    margin-top: 20px;
    background: #F3F3F3;
    border: 1px solid #C1C1C1;
    min-height: 160px;
    font-size: 24px;
    width: 46%;
    float: left;
    margin-left: 2%;
    font-weight: 300;
    position: relative;
}

.todo-item .text{
    padding: 10px;
}

.todo-item-bottom{
    width: 100%;
    height: 40px;
    border-top: 1px solid #C1C1C1;
    position: absolute;
    bottom: 0;
    text-align: center;
    cursor: pointer;
}

.check-icon{
    border: 1px solid #333;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
}

.complete-bar{
    margin-top: 3px;
    display: inline-block;
}

.todo-item.completed .check-icon{
    border-color: #4cae4c;
    background: #5cb85c;
    color: white;
}

.todo-item.completed .complete-bar{
    color: #5cb85c;
}

.content{
    display: block;
    margin-top: 20px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-20{
    margin-top: 40px;
}

.text-white{
    color: #ffffff;
}

.profile-text{
    font-size: 16px;
}

.profile-text:hover a{
    color: #dbdbdb;
}

.todos-count{
    margin-right: 4%;
}