{% extends "base.html" %}

{% block title %}Todos{% endblock %}

{% block page_title %}Todos{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            $(".todo-item-bottom").on("click", function(e){
                var elem = $(e.target);
                var todo_id = $(e.target).closest(".todo-item-bottom").data("todo-item-id");
                $.ajax({
                    url: "{% url "todos:done" %}",
                    type: "post",
                    data: {"todo-id": todo_id, "csrfmiddlewaretoken": "{{ csrf_token }}"},
                    success: function(data){
                        elem.closest(".todo-item").toggleClass("completed");
                    }
                });
            });
        });
    </script>
{% endblock javascripts %}

{% block content %}

    {% include "todos/add_todo_form.html" %}
    {% include "todos/navbar.html" %}

    {% for todo in todos %}
        <div class="todo-item" id="todo-item-{{ todo.id }}">
            <span class="text">{{ todo.text }}</span>
            <div class="todo-item-bottom" data-todo-item-id="{{ todo.id }}" id="todo-complete-action-{{ todo.id }}">
                <span class="complete-bar"><i class="glyphicon glyphicon-ok check-icon"></i> Completed</span>
            </div>
        </div>
    {% empty %}
        <div class="col-lg-12 text-center margin-top-20">
            <h4>Can't find active any todos here!</h4>
        </div>
    {% endfor %}

{% endblock content %}