<form action="{% url "todos:create" %}" method="post" id="add-todo-form">
    {% csrf_token %}
    <div class="col-lg-12 todo-input-container text-center">
        <div class="input-group col-lg-6">
            <input type="text" class="form-control" id="add-todo-input" name="text" placeholder="Enter a todo task">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" id="add-todo-form-submit"><i class="glyphicon glyphicon-plus"></i>Add</button>
            </span>
        </div>
    </div>
</form>